@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>TEST.APP</h2>

<a href="@ViewBag.DownloadLink">Click To Down</a>

<br />
Save result:@ViewBag.SaveResult

<br />
Msg:@ViewBag.Message

<br />
Name: @MvcHtmlString.Create(ViewBag.Name)

<br />
@*All count:@ViewBag.QueryTable.Count*@

<br />
Path:  @MvcHtmlString.Create(ViewBag.logsPath)
